doctype html
#navbar
    a(href='/')
        span Dorm Supplies
    #nb-items
        a(href='/items')
            span browse
        a(href='/login')
            span login
        a(href='/register')
            span register
        #nb-profpic

html
  head
    title= title || "Dorm Supplies"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/fetch.js')
  body
    block content
    script(src='/js/script.min.js')
    if token
        script localStorage.token = "#{token}"
    block postScript
    if dev
        script(src='//localhost:10000/livereload.js')
